h5 {
font-size: 1em;
color: #74b73f;
font-family: "Gibson-SemiBold";
}
.guide_content code{
border-radius:.15em;
padding:.15em .25em;
}

.guide_content table{
margin-bottom:1em;
border: none;
}

.guide_content table thead,.guide_content table tbody{
text-align:left;
vertical-align:top;
}

.guide_content table th,.guide_content table td{
padding-right:1em;
color:#777;
}

.guide_content table td:last-child{
padding-right:0;
}

.guide_content table th{
font-weight:700;
padding:.5em 0.2em;
border:none;
border-bottom:2px solid #e5eae4;
}

.guide_content table td{
vertical-align:top;
padding:.75em 0.2em;
border:none;
border-bottom:1px solid #e5eae4;
}

.guide .guide_content table code{
background:#F0F0F0;
}

.guide .guide_content td p {
	margin: 0;
}

.guide .guide_content code{
background:#F0F0F0;
-moz-border-radius:2px;
border-radius:2px;
padding:0 5px;
line-height:1.2em;
vertical-align: baseline;
}

.guide_content p{
color:#555;
line-height:23px;
font-size:18px;
margin:0 0 15px;
}

.guide_content ul{
color:#555;
margin-bottom:20px;
}

#search_container #blog_search #results{
width:auto;
margin-left:-2px;
margin-right:-2px;
}

pre.prettyprint{
margin-left:0;
padding-left:18px;
border-left:3px solid #74b73f;
font-family:Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace!important;
font-size:14px;
line-height:23px;
overflow:auto;
margin-bottom:15px;
padding-top:8px;
padding-bottom:8px;
background-color:#F0F0F0;
border-right:none;
border-top:none;
border-bottom:none;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
}

pre.prettyprint.linenumstrigger{
margin-left:0;
padding-left:0;
border-left:0;
}

pre.prettyprint ol li{
margin-left:18px;
padding-left:18px;
border-left:3px solid #6CE26C;
}

pre ol li.highlighttrigger{
background-color:#DAD7FF;
}

.str{
color:#080;
}

.kwd{
color:#008;
font-weight:700;
}

.com{
color:#800;
}

.typ{
color:#606;
font-weight:700;
}

.lit{
color:#066;
}

.pun{
color:#660;
}

.pln{
color:#000;
}

.tag{
color:#008;
}

.atn{
color:#606;
}

.atv{
color:#080;
}

.dec{
color:#606;
}

@media print{
.str{
color:#060;
}

.kwd{
color:#006;
font-weight:700;
}

.com{
color:#600;
font-style:italic;
}

.typ{
color:#404;
font-weight:700;
}

.lit{
color:#044;
}

.pun{
color:#440;
}

.pln{
color:#000;
}

.tag{
color:#006;
font-weight:700;
}

.atn{
color:#404;
}

.atv{
color:#060;
}

;
}

.page_content #post_content article code{
border-radius:.15em;
padding:.15em .25em;
}

.page_content #post_content article table{
margin-bottom:1em;
}

.page_content #post_content article table th,.page_content #post_content article table td{
padding-right:1em;
color:#777;
}

.post_content table td:last-child{
padding-right:0;
}

.page_content #post_content article table th{
font-weight:700;
padding:.5em 0;
border-bottom:2px solid #e5eae4;
}

.page_content #post_content article table td{
vertical-align:top;
padding:.75em 0;
border-bottom:1px solid #e5eae4;
}

.page_content #post_content article table code{
background:#F0F0F0;
}

.page_content #post_content article code{
background:#F0F0F0;
-moz-border-radius:2px;
border-radius:2px;
padding:0 5px;
line-height:19px;
}

.page_content #post_content article p{
color:#555;
line-height:23px;
font-size:18px;
margin:0 0 15px;
}

.page_content #post_content article blockquote{
color:#555;
}

.page_content #post_content article ul{
color:#555;
margin-bottom:20px;
}

.page_content #post_content article ol{
color:#555;
margin-bottom:20px;
}

section.guide  {
	position: relative;
}

h1,h2,h3,h4,h5,.breadcrumbs span, .breadcrumbs a, .navheader a, .navfooter a{
text-transform:lowercase;
}

.guide .guide_content h1,
.chapter .titlepage h2 {
	font-size: 50px;
	line-height: 56px;
	font-weight: bold;
}

.section .titlepage h2 {
	font-size: 38px;
	line-height: 44px;
	font-weight: bold;
}


.breadcrumbs a, .breadcrumbs span {
	font-weight: bold;
}


.guide .navheader span,
.guide .navfooter span {
	float: left;
	width: 50%;
	font-weight: bold;
}

.guide .navheader .next,
.guide .navfooter .next {
	text-align: right;
}

.guide .navheader {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin: 10px 0;
}

.guide .navfooter {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #ccc;
	padding-top: 5px;
	margin-bottom: 10px;
}

.guide .toc {
	position: absolute;
	top: 7em;
	right: 0;
	text-transform:lowercase;
	width: 23%;
}

.guide .toc dt {
	display: list-item;
	list-style-type: disc;
	list-style-position: outside;
	color: #74b73f;
	padding: 0.1em 0;
}

.guide .book .toc {
	position: static;
	width:  auto;
}

.guide .book .toc dt {
	display: block;
}

.guide .variablelist dt {
	color: #74b73f;
}

.guide .variablelist dd {
	margin-bottom: 0.5em;
}

.guide .example {
	margin: 0;
}

.guide .example .title {
	margin: 0 0 0 10px;
}
.guide .example-contents {
	border:	1px solid #f0f0f0;
	border-width: 1px;
	border-radius: 5px;
	background: #fdfdfd;
	padding: 10px 10px 0;
}

.guide .sidebar {
	border: 3px solid #74b73f;
	border-radius: 5px;
	background: #f8f8f0;
	padding: 10px 10px 0;
	margin:	0 10px;
}

.guide .sidebar .title {
	margin: 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.guide .deprecated,
.guide .added {
	position: relative;
	font-size: 16px;
}

.guide .deprecated .version,
.guide .added .version {
	font-family:Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', monospace!important;
	font-size: 0.8em;
	border-bottom: 1px dashed #74b73f;
}

.guide .deprecated .version {
	text-decoration: line-through;
}

.guide .deprecated .detail,
.guide .added .detail {
	min-width: 250px;
	position: absolute;
	padding: 15px;
	border: 3px solid #e8e8e8;
	background: white;
	opacity: 0;
	color: white;
	left: -20000px;
	bottom: 20px;
	line-height: 1.2em;
}

.guide .deprecated:hover ,
.guide .added:hover {
	color: black;
	transition: all 0.3s ease;
}

.guide .deprecated:hover .detail,
.guide .added:hover .detail {
	z-index: 10000;
	left: -5em;
	opacity: 1;
	color: #555;
	transition: color 0.5s ease;
}

.guide .toc .added,
.guide .toc .deprecated {
	display: none;
}
